.Menu{
    position: absolute;
  
    color: #323232;
    font-size: 1.2rem;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    top: 100%;
    left: 0;
    border-radius: 0.5em;
}

.Menu.left{
    left: unset;
    right: 0;
}

.MenuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    z-index: 10;
    background-color: white;
}

.MenuItem:first-of-type{
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.MenuItem:last-of-type{
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}


.MenuItem:hover{
   background-color: var(--clr3);
    color: white;
}

